.SwiperBox {
    position: relative;
    width: 500px;
    height: 300px;
    box-sizing: border-box;
    cursor: pointer;
    overflow: hidden;
}
.imgBox {
    position: absolute;
    top: 0px;
    left: 0px;
    min-width: 500px;
    height: 300px;
    display: flex;
    justify-content: flex-start;
}
/* 图片默认样式 */
.imgBox img {
    flex-shrink: 0;
    width: 500px;
    height: 300px;
}
/* 两个按钮共有的样式,也可直接使用箭头图片替代 */
.leftBtn,
.rightBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(109, 109, 109, 0.445);
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
    user-select: none;
}
.leftBtn {
    left: 10px;
}
.rightBtn {
    right: 10px;
}
/* 下方指示器盒子 */
.instBox {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    display: flex;
}
/* 小圆点 */
.inst {
    width: 10px;
    height: 10px;
    border: 1px solid #ccc;
    margin-right: 8px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
}
.inst:last-child {
    margin-right: 0px;
}
.instActv {
    border: 1px solid #ff0000;
    background: #ff0000;
}
#app {
    width: 100%;
    padding: 120px;
    display: flex;
    justify-content: center;
}